# Dependencies
node_modules/

# Environment variables (Sensitive - Block all .env files)
.env
.env*
*.env

# Logs
*.log
npm-debug.log*

# Sensitive keys & logs
wtrdd_vps_key/
id_*
*.pem
*.key
logs/
*.tar.gz

# Scratch & temporary files
scratch/
.idea/
.vscode/
.DS_Store
