[Unit]
Description=월덕 앱 감시자 타이머 (20초마다)

[Timer]
OnBootSec=40s
OnUnitActiveSec=20s
AccuracySec=3s
Persistent=true
Unit=wtrdd-watchdog.service

[Install]
WantedBy=timers.target
